/*
 * Roboto Light
 */
@include font-face(roboto, 'Roboto-Light-webfont', 300, normal);

/*
 * Roboto Regular
 */
@include font-face(roboto, 'Roboto-Regular-webfont', 400, normal);

/*
 * Roboto Medium
 */
@include font-face(roboto, 'Roboto-Medium-webfont', 500, normal);

/*
 * Roboto Bold
 */
@include font-face(roboto, 'Roboto-Bold-webfont', 700, normal);

/*
 * Shadow Light
 */
// .font-face(shadowsintolight, 'shadowsintolight-webfont', 400, normal);
