.input-group.form-group([class.fc-alt]="alt")
    span.input-group-addon
        i.zmdi.zmdi-calendar
    .dtp-container.fg-line([class.disabled]="disabled", [class.fg-toggled]="toggled")
        input.form-control.date-time-picker(
            #i,
            [type]="inputType",
            placeholder="{{placeholder}}",
            [formControl]="control",
            [disabled]="disabled",
            (focus)="onFocus(i); showDatetimePicker($event)",
            (blur)="onBlur(i)",
            (click)="preventDefault($event)",
            (change)="valueChanged($event.target.value)")

                