li(
    class="{{activeClass}}",
    [ngClass]="{ 'active': active, 'toggled': expanded, 'sub-menu': item.children }", 
    (click)="onItemClicked($event)")
    a(href='', (click)="$event.preventDefault()", [class.fc-alt]="alt")
        i(*ngIf="item.icon", class="zmdi zmdi-{{item.icon}}")
        | {{item.title}}

    ul([@isVisibleChanged]="expanded", *ngIf="item.children")
        side-menu-item(
            [item]="child", 
            *ngFor="let child of item.children")
