<div class="demo-buttons">

    <p class="lead">
        Normal Buttons
    </p>

    <!-- Normal buttons -->
    <div>
        <bw-button *ngFor="let c of colors" [color]="c" [title]="c" class="normal" (clicked)="onClicked()"></bw-button>
    </div>

    <div class="m-t-20">
        <bw-button *ngFor="let c of buttons" [color]="c.color" [title]="c.title" [icon]="c.icon" class="normal"></bw-button>
    </div>

    <br/>

    <p class="lead">
        Default Icon Buttons
    </p>

    <!-- Icon buttons -->
    <div class="m-t-20">
        <bw-button *ngFor="let c of buttons" color="white" [icon]="c.icon"></bw-button>
    </div>

    <!-- Circular Icon buttons -->
    <div class="m-t-20">
        <bw-button *ngFor="let c of buttons" color="white" [icon]="c.icon" [circular]="true"></bw-button>
    </div>

    <br/>

    <p class="lead m-t-20">
        Circular Icon Buttons
    </p>

    <!-- Normal buttons -->
    <bw-button *ngFor="let c of buttons" [color]="c.color" [icon]="c.icon" [circular]="true"></bw-button>

    <p class="lead">
        Different Sizes
    </p>

    <div class="button-sizes">        
        <!-- Normal buttons -->
        <bw-button color="white" title="Large" size="lg"></bw-button>
        <bw-button color="blue" title="Default" size="default"></bw-button>
        <bw-button color="cyan" title="Small" size="sm"></bw-button>
        <bw-button color="green" title="Tiny" size="xs"></bw-button>
    </div>

    <p class="lead">
        Block Buttons
    </p>

    <!-- Normal buttons -->
    <bw-button color="white" title="White Block Button" [block]="true"></bw-button>
    <bw-button color="blue" title="Blue Block Button" [block]="true"></bw-button>

</div>
