.radio.m-b-15([class.disabled]="disabled")
  label
    input(type='radio', [name]="groupName",
        [disabled]="disabled",
        [attr.value]="value",
        (click)="check()")
    i.input-helper
    | {{label}}
