ul.tab-nav.tn-justified(class="{{class}}", role='tablist', (click)='$event.preventDefault()', [ngClass]="classMap", [class.ts-alt]="alt")
    li.nav-item(
        *ngFor='let tabz of tabs', 
        [class.active]='tabz.active', 
        [class.disabled]='tabz.disabled', 
        role="presentation")
        
        a.nav-link(href='', [class.active]='tabz.active', [class.disabled]='tabz.disabled', (click)='tabClicked(tabz)')
            i.zmdi(*ngIf="tabz.icon", class="zmdi-{{tabz.icon}}", [ngClass]="{ 'icon-tab': iconTab }")
            span([ngTransclude]='tabz.headingRef') {{tabz.heading}}
            span(*ngIf='tabz.removable')
                span.zmdi.zmdi-close-circle((click)='$event.preventDefault(); removeTab(tabz);')

.tab-content
    ng-content
