include ../../../mixins/mixins

section#content
    .container
        .block-header
            h2 Layout Components

        each comp in components
            .card
                .card-header
                    p.lead #{comp.title}
                .card-body.card-padding
                    .readme!= comp.readme
                    +code-preview(comp)
