select.my-selectpicker(
    style="display: none;",
    [attr.multiple]="allowMultiSelection ? true : null",
    [formControl]="control")
    option(*ngFor="let item of items", value="{{item.id}}") {{item.title}}
