.input-group.form-group([class.fc-alt]="alt")
    span.input-group-addon
        i.zmdi.zmdi-calendar
    .dtp-container.fg-line([class.disabled]="disabled", [class.fg-toggled]="toggled")
        input.form-control.date-time-picker(
            #i,
            type="date",
            placeholder="{{placeholder}}",
            [formControl]="control",
            [attr.disabled]="disabled",
            (focus)="onFocus(i)",
            (blur)="onBlur(i)")
