.slds-container--medium.slds-container--center.slds-m-top--large.slds-p-around--x-large
  .slds-text-heading--large Need help?
  hr
  p 
    | If you have discovered a bug or have a feature suggestion, feel free to&nbsp;
    a(href="https://github.com/ng-lightning/ng-lightning/issues") create an issue
    | &nbsp;on GitHub.
    br
    | Otherwise, you can use any of the following methods to find somenone available to answer your questions.
  
  .slds-text-heading--medium.slds-m-top--large Stack Overflow
  .slds-m-vertical--small 
    | Members of our community should use Stack Overflow to ask questions about how something works or how to contribute.&nbsp;
    | Read through the&nbsp;
    a(href="https://stackoverflow.com/questions/tagged/ng-lightning", target="_blank", rel="noopener noreferrer") existing questions 
    | tagged with&nbsp;
    b ng-lightning 
    | or don't hesitate to&nbsp;
    a(href="https://stackoverflow.com/questions/ask?tags=ng-lightning", target="_blank", rel="noopener noreferrer") ask your own
    | !

  .slds-text-heading--medium.slds-m-top--large Chat
  .slds-m-vertical--small 
    | Join our online chat at&nbsp;
    a(href="https://gitter.im/ng-lightning/ng-lightning", target="_blank", rel="noopener noreferrer") Gitter channel
    | .
    
    
