.toggle-switch([class.disabled]="disabled")
    label.ts-label(for='{{identifier}}') {{label}}
    input(id="{{identifier}}" type='checkbox', hidden='hidden', [attr.disabled]="disabled")
    label.ts-helper(for='ts1')
