.toggle-switch .ts-label {
    min-width: 130px;
}

pre.code {
    max-height: 300px;
}

/* buttons */
.demo-buttons .lead {
    margin-top: 20px;
}

.demo-buttons .circular-icon-buttons {
    margin-top: 20px;
}

.demo-buttons bw-button.normal button {
    min-width: 112px;
    margin-left: 3px;
    margin-top: 5px;
}

.demo-buttons .waves-circle {
    margin-left: 3px;
    margin-top: 5px;
}

.demo-buttons .button-sizes button {
    margin-left: 10px;
}


.demo-buttons .btn-block {
    margin-top: 10px;
}

/* button groups */
.demo-button-groups .btn-group {
    margin-right: 3px;
}


/*
 * ACTIONS
 */
