header#header.clearfix.animated.slideInDown([attr.data-current-skin]='color')
    ul.header-inner
        // menu trigger
        li#menu-trigger([attr.data-trigger]="'#sidebar'", *ngIf="addMenuTrigger && !backActive", [class.open]="sidebarOpen", (click)="toggleSidebar()")
            .line-wrap
                .line.top
                .line.center
                .line.bottom
        li#menu-trigger(*ngIf="backActive", (click)="backActionClicked()", [class.open]="backActive")
            .line-wrap
                .line.top
                .line.center
                .line.bottom

        // brand
        li.logo(*ngIf="brand")
            a([href]='logoHref') {{brand}}

        // logo
        li(*ngIf="!brand && logo")
            a.m-l-10([href]='logoHref')
                img([src]='logoPath')

        li.pull-right(*ngIf="actions")
            actions(color="white",
                [actionItems]="actions",
                [showBig]="true",
                (actionClicked)="headerActionClicked($event)")

    // for extra content injection
    ng-content
