@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import './variables';
// @import './mixins/vendor-prefixes';
@import './app/bootstrap-overrides';

@import 'bootstrap-custom';
@import './angular-material.layouts';
@import './material-design-iconic-font';
@import './animate';

@import './app/index';

@import './vendor/index';
@import './vendor-overrides/index';
